.switch-toggle {
    width: 10em;
}

.switch-toggle label:not(.disabled) {
    cursor: pointer;
}
.box{
    display: flex;
    width:300px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}